body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #001e3d, #003366, #004080, #00559b, #006ab5, #007fcf, #0094e9, #00a9ff, #00beff, #00d3ff, #00e8ff, #00fdff);
}

.starry-sky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.starry-sky::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  pointer-events: none;
}


.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(5px); 
  position: relative;
  z-index: 1; 
}

h1 {
  text-align: center;
  color: #fff; 
  font-size: 24px;
}

.planets-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.planet-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.loading-message {
  text-align: center;
  color: #777;
}

.residents-list {
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.residents-list.loaded {
  opacity: 1;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.pagination button.active {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Responsive Styles for all types of screens*/
@media only screen and (max-width: 1200px) {
  .app {
    max-width: 600px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .app {
    padding: 10px;
  }

  .planets-container {
    grid-template-columns: 1fr;
  }

  .planet-card {
    max-width: 100%;
  }

  h1 {
    font-size: 18px;
  }

  .pagination button {
    padding: 6px 10px;
  }
}
